[Unit]
Description=Start token auth proxy app
Requires=network.target

[Service]
WorkingDirectory=/home/ubuntu/proxy
Type=simple
User=ubuntu
Restart=on-failure
ExecStart=/usr/bin/yarn start
Environment=NODE_ENV=production
Environment=TLS_KEY_PATH={{ certbot_path }}/privkey.pem
Environment=TLS_CERT_PATH={{ certbot_certs }}/fullchain.pem

[Install]
WantedBy=default.target
