[Unit]
Description=Start token auth proxy app
Requires=network.target

[Service]
WorkingDirectory=/home/ubuntu/proxy
Type=simple
Restart=on-failure
ExecStart=/usr/bin/yarn prod
Environment=NODE_ENV=production
Environment=NODE_PORT=@
Environment=TLS_KEY_PATH={{ certbot_path }}/privkey.pem
Environment=TLS_CERT_PATH={{ certbot_path }}/fullchain.pem

[Install]
WantedBy=default.target
