[Unit]
Description=Parity Ethereum application
Requires=network.target

[Service]
Type=simple
User={{ geth_user }} 
Restart=on-failure
ExecStart=/usr/bin/parity --port {{ p2p }} --ws-port {{ ws_sport }} \
       --ws-apis=safe,-parity --ws-origins all --ws-hosts all \
       --jsonrpc-port {{ sport }}  --jsonrpc-interface 127.0.0.1 \
       --jsonrpc-cors all --jsonrpc-hosts all \
       --jsonrpc-apis=safe,-parity \
       --db-path=/home/{{ geth_user }}/blockchains/parity/chains/ \
       --cache-size {{ parity_cache_size }} --no-warp

[Install]
WantedBy=default.target
