[Unit]
Description=Ethereum go client
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30s
ExecStart=/usr/bin/geth --fast --cache=2048 --ws --rpc --rpcport 8545 --rpcaddr 0.0.0.0 --rpccorsdomain * --rpcvhosts *

[Install]
WantedBy=default.target
